<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="msg" class="com.demo.spring.Message">
		<property name="header" value="End Of Class Today" />
		<property name="body" value="At 5:00pm Sharp" />
	</bean>

	<bean id="mail" class="com.demo.spring.Mail">
		<property name="fromAddress" value="trainer" />
		<property name="toAddress" value="all" />
		<property name="message" ref="msg" />
	</bean>
</beans>
